<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    button {
      border: 0;
      outline: 0;
      background: transparent;
      cursor: pointer;
    }

    .slide {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
    }

    .slide__list {
      display: flex;
      transform: translate(0, 0);
    }

    .slide__item {
      flex: 0 0 100%;
      list-style: none;
    }

    .slide__image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .buttons {
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% - 1rem);
    }

    .buttons__prev,
    .buttons__next {
      position: absolute;
      top: 50%;
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    .buttons__prev {
      left: 1rem;
    }

    .buttons__next {
      right: 1rem;
    }

    .paginations {
      padding-top: 1rem;
      text-align: center;
    }

    .pagination {
      width: 12px;
      height: 12px;
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }

    .pagination:not(:last-child) {
      margin-right: 0.3rem;
    }

    .pagination.on {
      background: #333;
    }
  </style>
</th:block>

<div layout:fragment="content">
  <main class="min-h-screen bg-gray-100 pt-20">
    <div class="mt-20 bg-white w-4/5 mx-auto rounded-lg">
      <section class="w-4/5 h-4/5 m-auto pt-5">
        <div class="slide w-3/5 h-3/5">
          <ul class="slide__list">
            <li class="slide__item" th:each="image : ${itemInfoDto.imageUrlList}">
              <img class="slide__image" th:src="${image}" alt="상품 이미지" />
            </li>
          </ul>
          <div class="buttons"></div>
          <div class="paginations"></div>
        </div>
      </section>
      <section class="w-4/5 h-4/5 m-auto py-5">
        <div class="w-3/5 m-auto flex border-b-2 border-solid pb-8">
          <img class="w-10 h-10 rounded-full" th:src="@{{previewUrl}(previewUrl=${itemInfoDto.previewUrl})}">
          <div class="ml-3">
            <p th:text="${itemInfoDto.nickname}">닉네임</p>
            <p class="text-gray-500 text-sm" th:text="${itemInfoDto.location}">지역</p>
          </div>
        </div>
      </section>

      <section class="w-4/5 h-4/5 m-auto pt-5 pb-36">
        <div class="w-3/5 m-auto">
          <h2 class="font-medium" th:text="${itemInfoDto.title}">타이틀</h2>
          <div class="flex">
            <p class="mr-2" th:text="${itemInfoDto.category}">카테고리</p>
            <p>0시간전</p>
          </div>
          <p class="my-4" th:text="${itemInfoDto.detail}">
            내용
          </p>
          <div class="flex text-gray-500 text-sm">
            관심<p th:text="${itemInfoDto.likeCount}">관심0</p>
            <p>채팅0</p>
            조회<p th:text="${itemInfoDto.viewCount}">조회111</p>
          </div>
        </div>
      </section>
    </div>

    <section class="w-full fixed h-20 bg-white bottom-0">
      <div class="w-4/5 m-auto">
        <div class="w-4/5 h-4/5 m-auto">
          <div class="w-3/5 m-auto pt-4 flex justify-between">
            <div class="flex space-x-4">
              <div class="w-9 h-9">
                <img th:class="'likes '+ ${itemInfoDto.isOwnerLikes ? 'active' : ''}" />
              </div>
              <div class="flex">
                <p class="font-medium" th:text="${itemInfoDto.price}">1,000</p>원
              </div>
            </div>
            <div>
              <button class="chat_btn bg-orange-500 text-white px-10 py-2 rounded-lg" th:onclick="@{location.href='/chat/{itemId}'(itemId=${itemInfoDto.itemId})}">채팅하기</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <input type="hidden" class="itemId" th:value="${itemInfoDto.itemId}" />
  </main>


</div>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script type="text/javascript">
    const list = document.querySelector('.slide__list');
    const items = document.querySelectorAll('.slide__item');
    const buttons = document.querySelector('.buttons');
    const paginations = document.querySelector('.paginations');
    const $likes = document.querySelector('.likes');
    const $chatBtn = document.querySelector('.chat_btn');
    const itemId = document.querySelector('.itemId').value;
    const lastIndex = items.length - 1;
    let selected = 0;
    let interval;

    // 이미지 설정
    let imageUrl = $likes.classList.contains('active') ? '/images/common/heart-active.svg'
        : '/images/common/heart.svg';
    $likes.setAttribute('src', imageUrl);

    const likeSubscript = (itemId) => {
      fetch('/item/subscript', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          itemId: itemId
        })
      })
      .then(resposne => {
        if(!resposne.ok) {
          throw new Error('에러가 발생하였습니다.')
        }
        return resposne.json();
      })
      .then(data => {
        $likes.classList.toggle('active');
        let imageUrl = $likes.classList.contains('active') ? '/images/common/heart-active.svg'
            : '/images/common/heart.svg';
        $likes.setAttribute('src', imageUrl);
      })
      .catch((error) => {
        console.log(error);
        toast(error);
      })
    }

    $likes.addEventListener('click', () => likeSubscript(itemId));

    // Util Functions
    const setTransition = (value) => {
      list.style.transition = value;
    };

    const setTranslate = ({ index, reset }) => {
      if (reset) list.style.transform = `translate(-${list.clientWidth}px, 0)`;
      else list.style.transform = `translate(-${(index + 1) * list.clientWidth}px, 0)`;
    };

    const activePagination = (index) => {
      [...paginations.children].forEach((pagination) => {
        pagination.classList.remove('on');
      });
      paginations.children[index].classList.add('on');
    };

    // Make the pagination buttons.
    const handlePagination = (e) => {
      if (e.target.dataset.num) {
        selected = parseInt(e.target.dataset.num);
        setTransition('all 0.3s linear');
        setTranslate({ index: selected });
        activePagination(selected);
      }
    };

    const makePagination = () => {
      if (items.length > 1) {
        for (let i = 0; i < items.length; i++) {
          const button = document.createElement('button');
          button.dataset.num = i;
          button.classList.add('pagination');
          if (i === 0) {
            button.classList.add('on');
          }
          paginations.appendChild(button);
          paginations.addEventListener('click', handlePagination);
        }
      }
    };

    // Make prev and next buttons.
    const handlePrev = () => {
      selected -= 1;
      setTransition('transform 0.3s linear');
      setTranslate({ index: selected });
      if (selected < 0) {
        selected = lastIndex;
        setTimeout(() => {
          setTransition('');
          setTranslate({ index: selected });
        }, 300);
      }
      if (selected >= 0) activePagination(selected);
    };

    const handleNext = () => {
      console.log(selected);
      selected += 1;
      setTransition('transform 0.3s linear');
      setTranslate({ index: selected });
      if (selected > lastIndex) {
        selected = 0;
        setTimeout(() => {
          setTransition('');
          setTranslate({ index: selected });
        }, 300);
      }
      if (selected <= lastIndex) activePagination(selected);
    };

    const makeButton = () => {
      if (items.length > 1) {
        const prevButton = document.createElement('button');
        prevButton.classList.add('buttons__prev');
        prevButton.innerHTML = '<i class="fas fa-arrow-left"></i>';
        prevButton.addEventListener('click', handlePrev);

        const nextButton = document.createElement('button');
        nextButton.classList.add('buttons__next');
        nextButton.innerHTML = '<i class="fas fa-arrow-right"></i>';
        nextButton.addEventListener('click', handleNext);

        buttons.appendChild(prevButton);
        buttons.appendChild(nextButton);
      }
    };

    // Clone the first and last elements.
    const cloneElement = () => {
      list.prepend(items[lastIndex].cloneNode(true));
      list.append(items[0].cloneNode(true));
      setTranslate({ reset: true });
    };

    // Automatically play the slide
    const autoplayIterator = () => {
      selected += 1;
      setTransition('all 0.3s linear');
      setTranslate({ index: selected });
      if (selected > lastIndex) {
        activePagination(0);
        clearInterval(interval);
        setTimeout(() => {
          selected = 0;
          setTransition('');
          setTranslate({ reset: true });
        }, 300);
      }
      if (selected <= lastIndex) activePagination(selected);
    };

    const render = () => {
      makeButton();
      makePagination();
      cloneElement();
    };
    render();
  </script>
</th:block>

</html>