<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- 공통 헤드-->
  <th:block th:replace="fragments/head :: head"></th:block>
  <!-- 사용자 정의 CSS -->
  <th:block layout:fragment="css"></th:block>

  <body>
    <!-- 상단바-->
    <th:block th:replace="fragments/header :: header"></th:block>

    <!-- 본문-->
    <div class="content">
      <th:block layout:fragment="content"></th:block>
    </div>

    <!-- 사용자 정의 script -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <th:block layout:fragment="script"></th:block>
    <script type="text/javascript">
      const $pwVisible = document.querySelectorAll(".pw_visible");

      const togleType = (e) => {
        const $togleInput = e.target.previousElementSibling;
        const currentType = $togleInput.getAttribute('type');

        $togleInput.setAttribute('type', currentType == 'password' ? 'text' : 'password');
        e.target.classList.toggle('opened');
      }
      $pwVisible.forEach(element => element.addEventListener('click', togleType));
    </script>

  </body>
</html>