<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>

  </style>
</th:block>

<div layout:fragment="content">
  <main class="min-h-screen bg-gray-100 pt-20">
    <section class="mt-20 bg-white w-4/5 mx-auto rounded-lg">
      <div class="w-4/5 h-4/5 m-auto pt-10 pb-5">
        <h1 class="font-bold text-orange-500 text-2xl">나의 판매목록</h1>

        <div class="w-3/5 pb-40 mx-auto mt-16">
          <div class="flex flex-col mb-10">
            <input
                id="point"
                type="text"
                class="text-2xl border-b-2 border-solid border-orange-500 mb-5 font-bold"
                placeholder="금액을 입력해주세요"
                readonly
            />
            <p class="text-slate-400">현재 포인트 잔액 : <span th:text="${#authentication.getPrincipal().getMemberDetail().getPoint()}">0</span></p>
          </div>

          <div class="bg-slate-300 w-4/5 rounded flex py-3 mx-auto mb-10">
            <button class="w-1/3" onclick="plus(10000);">+1만원</button>
            <button class="w-1/3" onclick="plus(50000);">+5만원</button>
            <button class="w-1/3" onclick="plus(100000);">+10만원</button>
          </div>

          <div
              class="w-4/5 grid grid-cols-3 mx-auto px-5 text-center cursor-pointer mb-10"
          >
            <div class="py-4" onclick="append('1')">1</div>
            <div class="py-4" onclick="append('2')">2</div>
            <div class="py-4" onclick="append('3')">3</div>
            <div class="py-4" onclick="append('4')">4</div>
            <div class="py-4" onclick="append('5')">5</div>
            <div class="py-4" onclick="append('6')">6</div>
            <div class="py-4" onclick="append('7')">7</div>
            <div class="py-4" onclick="append('8')">8</div>
            <div class="py-4" onclick="append('9')">9</div>
            <div class="py-4" onclick="append('00')">00</div>
            <div class="py-4" onclick="append('0')">0</div>
            <div class="py-4" onclick="deleteLastIndex()">←</div>
          </div>

          <div
              class="w-4/5 mx-auto py-3 bg-orange-500 text-center rounded text-white cursor-pointer"
          >
            <button id="charge">충전하기</button>
          </div>
        </div>
      </div>
    </section>

  </main>

</div>

<th:block layout:fragment="script">
  <script type="text/javascript">
    let point = 0;
    const email = '[[ ${#authentication.getPrincipal().getMemberDetail().getEmail()} ]]';
    const name = '[[ ${#authentication.getPrincipal().getMemberDetail().getName()} ]]';
    const geolocation = '[[ ${#authentication.getPrincipal().getMemberDetail().getGeolocation()} ]]';
    const $point = document.getElementById("point");
    const $charge = document.getElementById("charge");

    $charge.addEventListener('click', (e) => {
      IMP.init('imp14806872');

      IMP.request_pay({
        pg : 'html5_inicis',
        pay_method : 'card',
        merchant_uid : 'merchant_' + new Date().getTime(),
        name : '사과마켓 포인트 충전',
        amount : point,
        buyer_email : email,
        buyer_name : name,
        buyer_tel : '010-1234-5678',
        buyer_addr : geolocation,
        buyer_postcode : '123-456'
      }, function(rsp) {
        if ( rsp.success ) {
          console.log(rsp);

          fetch('/point', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              email: rsp.buyer_email,
              description: rsp.name,
              amount: rsp.paid_amount,
              currency: rsp.currency,
              pgType: rsp.pg_provider.toUpperCase(),
              pgTid: rsp.pg_tid,
              merchatUid: rsp.merchant_uid
            })
          }).then((response) => response)
          .then(((response) => alert(response.message)));

          location.href = '/myPage';
        } else {
          alert('결제 실패하였습니다.');
        }
      });
    });

    function plus(number) {
      point = Number(point) + number;
      render();
    }

    function append(number) {
      point = point == 0 ? number : point + number;
      render();
    }

    function deleteLastIndex() {
      point = point == 0 ? 0 :point.toString().slice(0, point.toString().length-1);
      if (point.length == 0) {
        point = 0;
      }
      render();
    }

    function render() {
      $point.value =
          point.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") +
          "원";
    }
  </script>
</th:block>