<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- footer -->
<th:block th:fragment="header">
  <header class="bg-white h-20 w-full h-20  fixed align-middle">
    <div class=" flex justify-between w-4/5 h-full mx-auto">
      <div class="my-auto font-bold text-orange-500 text-xl">
        <a href="/">사과마켓</a>
      </div>
      <div class="my-auto">
        <input class="box-border bg-gray-100 p-2" type="text" placeholder="물품이나 동네를 입력하세요." />
        <a href="/login" class="border-2 p-1">로그인</a>
      </div>
    </div>
  </header>
</th:block>

</html>