<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- footer -->
<th:block th:fragment="header">
  <header class="bg-white h-20 w-full h-20  fixed align-middle">
    <div class=" flex justify-between w-4/5 h-full mx-auto">
      <div class="my-auto font-bold text-orange-500 text-xl">
        <a href="/">사과마켓</a>
      </div>
      <div class="my-auto flex">
        <input class="box-border bg-gray-100 p-2 w-80 rounded-xl" type="text" placeholder="물품이나 동네를 입력하세요."/>
        <a href="/login" class="border-2 border-orange-400 p-2 ml-3 bg-orange-400 text-white rounded-sm" sec:authorize="isAnonymous()">로그인</a>
        <div class="flex ml-3" sec:authorize="isAuthenticated()">
          <a href="/item" class="border-2 border-orange-400 p-2 mr-3 bg-orange-400 text-white">상품 등록</a>
          <img class="h-10" th:src="${#authentication.getPrincipal().getPreviewUrl()}" th:onerror="@{/images/common/profile.png}" />
        </div>
      </div>
    </div>
  </header>

  <script>
    const $img = document.querySelector('img');

    if($img.getAttribute('src') === "") {
      $img.src = '/images/common/profile.png';
    }
  </script>

</th:block>

</html>